<div *ngIf="user">
    <div class="rounded p-5 shadow-lg user-details">
        <div class="d-flex justify-content-evenly mb-3">
    <button *ngIf="user.attivo" mat-mini-fab color="primary" (click)="delete(user)">
        <mat-icon>delete</mat-icon>
    </button>
      <button *ngIf="!user.attivo" mat-mini-fab color="primary" (click)="enable(user)">
        <mat-icon>check</mat-icon>
      </button>
    <button mat-mini-fab color="primary" (click)="goingHome()">
        <mat-icon>home</mat-icon>
    </button>
        </div>

    <h3>Dettaglio Utente:</h3>
    <h2 class="mt-4">{{user.name}} {{user.surname}}</h2>
    <br>
    <p><span>Età:</span> {{user.age}}</p>
    <p><span>Nazione:</span> {{user.country}}</p>
    <p><span>Bandiera:</span><p>
    <p><img class="mt-3" src="{{user.imgUrl}}"></p>

    <!-- <div style="width: 18rem;">
        <img class="img-fluid rounded" src="https://i.pinimg.com/564x/d3/e5/9a/d3e59ace9ed55ac52a5c66ea0d4e2cb2.jpg" alt="">
    </div> -->
    
    </div>
</div>