.div-container {
  max-width: 40%;
  margin-left: 30%;
}

.extract {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px; 
    overflow: hidden; 
}
  
  .custom-table th, .custom-table td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
  }
  
  .custom-table th {
    background-color: #334565;;
    color: #ffffff;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #fcfcfc;
    border-color: #334565;
    border-style: solid;
    border-width: 5px;
  }
  
  .custom-table tr:nth-child(odd) {
    background-color: #ffffff;
    border-color: #334565;
    border-style: solid;
    border-width: 5px;
    color: #000000;
  }
  
p {
    color:black
}

img { 
    width: 30px; 
    height: 30px; 
}
