    <mat-toolbar style="background-color: #334565; color: white;">
        <span class="menu fs-4">{{title}}</span>
        <span class="spacer"></span>
        <button class="menu1" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Main menu">
            <mat-icon>menu</mat-icon>
        </button>
        
        <mat-menu #menu="matMenu">
            <div class="user-info">
                <span>Ciao<b> {{user}} </b>!</span>
            </div>
            <a mat-menu-item (click)="create()">
                <mat-icon>add</mat-icon>
                <span>Aggiungi utenti</span>
            </a>
            <a mat-menu-item routerLink="/">
                <mat-icon>list</mat-icon>
                <span>Tutti gli utenti</span>
            </a>
            <a mat-menu-item routerLink="/hidden-users">
                <mat-icon>list</mat-icon>
                <span>Tutti gli utenti nascosti</span>
            </a>
            <a mat-menu-item routerLink="/login">
                <mat-icon>logout</mat-icon>
                <span>Logout</span>
            </a>
        </mat-menu>
    </mat-toolbar>

    <div class="page-wrapper">
        <router-outlet></router-outlet>
    </div>