.page-wrapper {
    max-width: 40%;
    margin-left: 30%;
    padding: 1.5em;
}

.spacer {
    flex: 1 1 auto;
}

.user-info {
    padding: 1em;
}

.menu {
    margin-left: 40%
}

.menu1 {
    margin-right: 40%
}