/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    color: black;
    background-color: #87C38F;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
