
//@import "~@angular/material/theming";
@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$red-palette, 400);
$my-accent: mat.define-palette(mat.$light-blue-palette, 200);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  // typography: (
  //   font-family: 'Rubik, sans-serif',
  // ),
));


@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);
